* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

header {
  height: 100px;
  background-color: black;
  color: antiquewhite;
}
/*Monitores até resolução de 1140pixeus*/
.header {
  max-width: 1140px;
  height: 100px;
  align-items: center; /*Centralizar os conteudos do Header Logo e Menu*/
  margin: auto;
  display: flex;
}

/*Logo tem area fixa*/
.logo {
  width: 100px;
}
/*Logo da Pagina*/
.logoimg {
  width: 80px;
  height: 80px;
  background-color: #b28756;
  border-radius: 40px;
}
/*colocar a Div Menu na diereita*/
.menu {
  flex: 1; /*Flex 1 pegou todo o restante da Àrea*/
  display: flex;
  justify-content: flex-end;
}
.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  border-bottom: 6px solid #000;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #b28756;
  color: #ccc;
}
.button {
  display: inline-block; /*Configuração para todos Buttom*/
  padding: 20px;
  background-color: #b28756;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}
/*Banner Princioal*/
.banner {
  height: calc(100vh - 100px);
  background-color: #4f4747;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover; /*Para Ajustar a imagem*/
  background-position: bottom; /*Para Ajustar a parte inferior da imagem*/
  overflow: hidden; /*Ajustar tudo que passar para barra Horizontal*/
}
.banner .sliders {
  width: 1000vw; /*Largura da Tela*/
  height: 100%; /*altura disponivel da tela*/
  margin-left: -0vw;
}

/*Caixa de Sliders*/
.banner .slide {
  width: 100vw; /*Largura da Tela*/
  height: 100%; /*altura disponivel da tela*/
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7); /*Deixar a imagem com opacidade*/
}
.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
}
.banner h1 span {
  color: #b28756;
}
.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}

.banner h1 span {
  display: flex;
  justify-content: center;
}

.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute; /*Position absolute faz com que meu bannner não esconda meus SLIDERS*/
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.banner .pointer.active {
  background-color: #b28756;
}

/*Separação do CSS por Área na parte de cima é da interface como todo*/
.default {
  padding-top: 50px;
  padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
}
.default .section-title {
  font-size: 22px;
  font-weight: bold;
}
.default .section-desc {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #ccc;
}

.default .section-body {
  max-width: 1140px;
  margin: auto;
}
.default.light {
  background-color: #f7f7f7;
}
.default.default.light .section-title,
.default.default.light .section-body {
  color: black;
}
.default.dark {
  background-color: black;
}
.default.dark .section-title,
.default.dark .section-body{
  color: white;
}



/*Separação do CSS por Área na parte de cima é da interface como todo*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Nessa parte de baixo é CSS para Áreas espcífica da interface para manuteção mas simples*/

.section-aboutus{
  display: flex;
}
.section-aboutus--left{
  flex: 1;
}

.section-aboutus--left p {
font-size: 14px;
line-height: 21px;
}

.section-aboutus--right{
  width: 580px;
  text-align: center;
}
.section-aboutus--right img{
  width: 480px;
  box-shadow: 2px 6px 12px #333;
}